<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
	 metadata-complete="true">

   <display-name>Internet App</display-name>
   <description>Internet App description</description>

   <context-param>
        <param-name>properties</param-name>
        <param-value>/internet/and/applications/app.properties</param-value>
    </context-param>

    <!-- //////// -->
    <!-- Servlets -->
    <!-- //////// -->

    <servlet>
        <!-- Restlet adapter for servlets -->
        <servlet-name>RestletAdapter</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <init-param>
            <param-name>org.restlet.application</param-name>
            <param-value>internet.and.applications.api.RestfulApp</param-value>
        </init-param>
    </servlet>

    <!-- //////////////////// -->
    <!-- Servlet URL Mappings -->
    <!-- //////////////////// -->

    <servlet-mapping>
        <!-- Map the Restlet endpoints to /energy/api URL -->
        <servlet-name>RestletAdapter</servlet-name>
        <url-pattern>/internet/applications/*</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>internet.and.applications.conf.Listener</listener-class>
    </listener>

</web-app>
